<!-- cadastro.html -->

<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="style.css">
</head>
  
<body>
    <div class="container">
        <h1 class="titulo-cadastro">Cadastro de Prescritor</h1>
        <form id="cadastro-form" class='form' action="/cadastro" method="post">
            <input type="text" name="nome" placeholder="nome" required>
            <input type="text" name="crm" placeholder="crm" required>
            <input type="text" name="cns" placeholder="cns" required>
            <input type="password" name="senha" placeholder="senha" required>
            <button type="submit">Concluir cadastro</button>
        </form>
    </div>
</body>
</html>