<!DOCTYPE html>
<html>
<body>

<h2>Página de Login</h2>

<form action="/action_page.php" method="post">
  <div class="container">
    <label for="uname"><b>Nome de usuário</b></label>
    <input type="text" placeholder="Insira o nome de usuário" name="uname" required>

    <label for="psw"><b>Senha</b></label>
    <input type="password" placeholder="Insira a senha" name="psw" required>
     <button type="submit">Login</button>
  
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancelar</button>
    <span class="psw">Esqueceu a <a href="#">senha?</a></span>
  </div>
  <a href="index.html">
    <button type="button">Ir para a página principal</button>
</a>

</form>

</body>
</html>
