body {
    font-family: 'Arial', sans-serif;
    margin: 500;
    padding: 0;
<<<<<<< Updated upstream
    background-color: #ee7474;
=======
    background-color: #ff0000;
>>>>>>> Stashed changes
  }
  